<section class="users-container">
  <h2>List of Users with Post Count:</h2>

  <div class="users-list">
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="user">
          <div class="user-photo">
            <img src="<%= user.photo %>">
          </div>
          <ul class="user-info">
            <li class="user-name"><%= user.name %></li>
            <li class="post-count"><%= user.posts_counter %> posts</li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
